{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}